<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Management System</title>
<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
	<h1>Course Description</h1>
	<hr>
		<table border="1" class = "table table-striped table-responsive-md">
		
			<thead>
				<tr>
					<th>Name</th>
					<th>Schedule</th>
					<th>Professor</th>
					<th>Max Students</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:object = "${course}">
					<td th:text="*{name}"></td>
					<td th:text="*{schedule}"></td>
					<td th:text="*{professor.name}"></td>
					<td th:text="*{maxStudents}"></td>
					<td th:text="*{description}"></td>				
				</tr>
			</tbody>
		</table>
		<a th:href="@{/showListCoursesToEnroll}">Go back</a>
	</div>
</body>
</html>