<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Management System</title>
<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	<h1>Enrolled Courses</h1>
	<hr>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Name</th>
					<th>Schedule</th>
					<th>Professor</th>
					<th>Max Students</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${listEnrolledCourses}">
					<td th:text="${course.name}"></td>
					<td th:text="${course.schedule}"></td>
					<td th:text="${course.professor.name}"></td>
					<td th:text="${course.maxStudents}"></td>
					<td th:text="${course.description}"></td>
					<td>
					<a th:href="@{/unenrollCourse/{id}(id=${course.id})}" class="btn btn-danger">Unenroll</a>
					</td>					
				</tr>
			</tbody>
		</table>
		<a th:href="@{/index}">Go back</a>
	</div>
</body>
</html>