<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>University Management System</title>
<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
</head>
<body>

	<div class="container my-2">
		<h1>Index</h1>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<th>Management Systems</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<tr>
					<td><p>Professor Management System</p></td>
					<td><a th:href="@{/showListProfessors}" class="btn btn-primary" style="color: white">Access</a></td>
				</tr>
				<tr>
					<td><p>Subject Management System</p></td>
					<td><a th:href="@{/showListSubjects}" class="btn btn-primary" style="color: white">Access</a></td>
				</tr>				
			</tbody>
		</table>
	</div>

</body>
</html>